html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

a {
    text-decoration: none;  
    color: inherit;
}

a:visited {
}

a:hover {
    color: white;
    cursor:pointer;
}

.social a:hover {
    color: rgb(3, 146, 207);
    cursor:pointer;
}

.social {
  margin-top: 50px;
  text-align: right;
  color: gray;
  font-size: 30pt;
}

/* Main content div ========================================================= */

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  font-family: 'Merriweather', monospace;
  font-size: 30pt;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;

  line-height: 1.7em;
}

/* Color highlights ========================================================= */

c1 { color:rgb(123, 192, 67); }
c2 { color:rgb(245,183,0); }
c3 { color:rgb(238, 64, 53); }
c4 { color:rgb(92,39,81); }
c5 { color:rgb(3, 146, 207); }
c6 { color:rgb(123, 192, 67); }
c7 { color:rgb(245,183,0); }
c8 { color:rgb(3, 146, 207); }

c1 a { box-shadow: rgba(123, 192, 67, 0.2) 0px -8px 0px 0px inset; }
c2 a { box-shadow: rgba(245,183,0, 0.2) 0px -8px 0px 0px inset; }
c3 a { box-shadow: rgba(238, 64, 53, 0.2) 0px -8px 0px 0px inset; }
c4 a { box-shadow: rgba(92,39,81, 0.2) 0px -8px 0px 0px inset; }
c5 a { box-shadow: rgba(3, 146, 207, 0.2) 0px -8px 0px 0px inset; }
c6 a { box-shadow: rgba(123, 192, 67, 0.2) 0px -8px 0px 0px inset; }
c7 a { box-shadow: rgba(245,183,0, 0.2) 0px -8px 0px 0px inset; }
c8 a { box-shadow: rgba(3, 146, 207, 0.2) 0px -8px 0px 0px inset; }

c1 a:hover { background-color:rgb(123, 192, 67); }
c2 a:hover { background-color:rgb(245,183,0); }
c3 a:hover { background-color:rgb(238, 64, 53); }
c4 a:hover { background-color:rgb(92,39,81); }
c5 a:hover { background-color:rgb(3, 146, 207); }
c6 a:hover { background-color:rgb(123, 192, 67); }
c7 a:hover { background-color:rgb(245,183,0); }
c8 a:hover { background-color:rgb(3, 146, 207); }

/* Responsive Adjustments =================================================== */

@media only screen and (max-width: 1200px) {
    .inner {
      text-align: left;
      margin: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .inner {
      font-size: 22pt;
    }
}