/* #4a4e4d - #0e9aa7 - #3da4ab - #f6cd61 - #fe8a71 */

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;

    background: radial-gradient(#FFEAAA, #F2C94C);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main {
    font-family: 'Arvo', serif;
    font-size: 20pt;
    color: #4F4F4F;

    position: absolute;
    margin: auto;
    top: 0;
    right: 30px;
    bottom: 0;
    left: 30px;
    max-width: 1000px;
    height: 700px;
}

a {
    text-decoration: none;
    color: #0e9aa7;
}

a:visited {
    color: #0e9aa7;
}

a:hover {
    text-decoration: underline;
    cursor:pointer;
}

.fab {
    font-size: 33pt;
}

.social {
    margin-top: 100px;
    text-align: center;
}
